<h4>Учредитель №</h4>
<form class="needs-validation" novalidate="">
    <div class="">
        <label for="firstName" class="form-label">ИНН</label>
        <input type="text" class="form-control" id="f1" placeholder="" value="" required="">
        <div class="invalid-feedback">
            Valid first name is required.
        </div>
    </div>
    <div class="">
        <label for="firstName" class="form-label">ФИО</label>
        <input type="text" class="form-control" id="f2" placeholder="" value="" required="">
        <div class="invalid-feedback">
            Valid first name is required.
        </div>
    </div>
</form>
