<div id="Fou">
    <div class="">
        <label for="firstName" class="form-label">ИНН</label>
        <input type="text" class="form-control" id="f1" placeholder="" value="" required="">
    </div>
    <div class="">
        <label for="firstName" class="form-label">ФИО</label>
        <input type="text" class="form-control" id="f2" placeholder="" value="" required="">
    </div>
</div>
