<div class="container">
    <h1>Добавить нового клиента</h1>
    <div class="row mt-5 mb-2">
        <form class="needs-validation" novalidate="">
            <div class="col-sm-6">
                <label for="firstName" class="form-label">ИНН</label>
                <input type="text" class="form-control" id="f1" placeholder="" value="" required="">
                <div class="invalid-feedback">
                    Valid first name is required.
                </div>
            </div>
            <div class="col-sm-6">
                <label for="firstName" class="form-label">Наименование</label>
                <input type="text" class="form-control" id="f2" placeholder="" value="" required="">
                <div class="invalid-feedback">
                    Valid first name is required.
                </div>
            </div>
            <div class="col-sm-6">
                <label for="firstName" class="form-label">Тип юридического лица</label>
                <div>
                    <input type="radio" value="" checked name="a1" />Юридическое лицо
                    <input type="radio" value="" name="a1" />Индивидуальный предприниматель
                </div>
                <div class="invalid-feedback">
                    Valid first name is required.
                </div>
            </div>
            <div class="col-sm-6">
                <label for="firstName" class="form-label"></label>
                <input type="submit" class="form-control" value="Добавить" />
            </div>
        </form>
    </div>
</div>