@model Founder

<div class="container mb-5">
    <div class="row mt-5 mb-2">
        <form asp-controller="Clients" asp-action="InputFormFounder" class="needs-validation">
            <h1 class="container col-sm-6 mt-5">Добавить учредителя</h1>
            <div class="container col-sm-6">
                <label class="form-label">Выберете клиента</label>
                <select asp-for="ClientId" asp-items="ViewBag.Clients" class="form-select">
                    <option selected="selected" disabled="disabled">Выберете клиента</option>
                </select>
                <span asp-validation-for="ClientId" class="text-danger" />
            </div>
            <div class="container col-sm-6">
                <label asp-for="Inn" class="form-label"></label>
                <input asp-for="Inn" class="form-control">
                <span asp-validation-for="Inn" class="text-danger" />
            </div>
            <div class="container col-sm-6">
                <label asp-for="FullName" class="form-label"></label>
                <input asp-for="FullName" class="form-control">
                <span asp-validation-for="FullName" class="text-danger" />
            </div>
            <div class="container col-sm-6">
                <label class="form-label"></label>
                <input type="submit" class="w-100 btn btn-primary btn-lg" value="Добавить" />
            </div>
        </form>
    </div>
</div>
@section scripts{
    <script src="~/js/jquery.validate.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
}